:root{
	--main-bg-color: coral;
	--main-txt-color: blue;
	--main-padding: 25px;
}

html, body
{
	height: 100%;
	margin: 0px;
	padding: 0px;
	margin-top: 0px;
}

 /* Diagramação das imagens de background */


/************* Diagramação do menu flutuante *******************/

/*nav
{
	position: -webkit-sticky; Safari
	position: sticky;
	top: 0;
	background-color: purple;
	border: 3px solid pink;
	z-index: 10;
}*/

.logo {
    color: white;
    float: left;
    margin-top: 1%;
    margin-left: 3%;
    font-size: 45px;
    font-family: 'Fondamento';

}

.topmenu {
    list-style-type: none;
    margin: 20px;
    padding: 5px;
    overflow: hidden;
   	font-family: 'Fondamento';
    /*background-color: #333;*/
}

.tmenu {
    float: right;
}

.tmenu a {
    display: block;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 14px 16px;
    text-decoration: none;
    /*background-color: #333;*/
    background-color: #00BFFF;
    margin-left: 15px;
    border-radius: 12px;
}

/******* Mudando a cor do link para   #0000FF (blue) no hover ***********/

.tmenu a:hover {
    background-color: #0000FF;
    /*background-color: #111;*/
}

 /************ Diagramação da página inicial (Sobre) ****************/

.bg-sobre
{
  height: 100%;
  background-image: url("Eleições 2016-2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.flex-container{

	display: flex;
	flex-direction: row;
	/*flex-wrap: wrap;*/
	height: 500px;
	flex-flow: wrap;
	justify-content: space-around;
	align-items:flex-start;
	align-content: space-around;
}

.flex-item {

	background-color: #7FFFD4;
  opacity: 0.5;
    /*filter: alpha(opacity=50);*/
  border-radius: 38px;
	width: 50%;
	margin-left: 50%;
  margin-right: 12%;
	margin-top: 11%;
	font-family: 'Fondamento';
  font-weight: bolder;
  color: blue;
	
}

.sub-title
{
	margin-top: 6%;
  font-size: 36px;
	text-align: center;
}

.text
{
	width: 90%;
  margin: 5%;
  margin-top: 8%;
  font-size: 28px;
	text-align: justify;
  line-height: 33px;
}

.citacao
{
	width: 47%;
  margin-top: 2%;
  padding-top: 15px;
	font-size: 22px;
	text-align: center;
	margin-left: 30%;
  line-height: 30px;
  border-radius: 12px;
  /*border: 4px #FFA500 solid;*/
  -webkit-box-shadow: 0px 0px 47px 10px rgba(8,8,247,1);
  -moz-box-shadow: 0px 0px 47px 10px rgba(8,8,247,1);
  box-shadow: 0px 0px 47px 10px rgba(8,8,247,1);
  /*-webkit-box-shadow: 0px 0px 49px 13px rgba(255,165,0,1);
  -moz-box-shadow: 0px 0px 49px 13px rgba(255,165,0,1);
  box-shadow: 0px 0px 49px 13px rgba(255,165,0,1);*/

}

.item
{
	width: 500px;
}

/********************* Diagramação do Contato ******************************/

.bg-contato
{
  height: 100%;
  background-image: url("ImgContato2.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;

}
form{
	width: 25%;
	margin-left: 35%;
	margin-top: 12%;
}

label
{
	font-family: 'Frijole';
	font-size: 28px;
	margin-bottom: 10px;
	color: blue;
}

input
{
	width: 100%;
	color: blue;
}

textarea
{
	width: 100%;
}

.mail
{
	margin-top: 5%;
	margin-bottom: 5%;
}

.send
{
	margin-top: 5%;
}

.conteudo
{
    overflow: hidden;
    width: 70%;
    margin: auto;
    margin-top: 10%;
    display: flex;
    flex-flow: row wrap;
}

.item
{
    float: left;
    margin: 5px;
    position: relative;
}

.invalid {
  
  background-repeat: no-repeat;
  background-color: #ffdddd50;
}

.valid {
 
  background-repeat: no-repeat;
  background-color: #ddffdd;
}

/********************* Diagramação do portfolio ******************************/

.bg-portfolio
{
  height: 100%;
  background-image: url("PortfolioInicio.jpg");
  background-repeat: no-repeat;
  background-size: 100%;

}

* {
  box-sizing: border-box;
}

h2
{
	margin-top: 6%;
	font-size: 65px;
	font-family: 'Fondamento';
  color: white;
}

..row {
  width: 80%;
  margin-left: 10%;
  margin-top: 15%;
  display: center;
  flex-flow: row wrap;

}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  margin-left: 2.5%;
  margin-top: 3%;
  float: left;
  width: 30%;

}

.video
{
    display: block;
    float: right;
    margin-top: 1%;
    margin-right: 11%;
    text-decoration: none;
    background-color: white;
    border-radius: 8px;
    font-family: 'Fondamento';
    animation: blinker 2s linear infinite;
}

.video:hover
{
  animation: none;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.video a{
   font-size: 15px;
   color:#333;
}

.video a:hover {
    background-color: white;
    border-radius: 12px;
    animation: blinker 0s linear infinite;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;

}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

/*.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}*/

/********************* Diagramação do blog ******************************/

.bg-blog
{
  height: 100%;
  background-image: url("ImgBlog.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;

}

.blogname
{
  margin-top: 7%;
  font-size: 65px;
  font-family: 'Fondamento';
  text-align:center;
  color: blue;
  font-weight: bolder;
}

.myBlogs {
    width: 30%;
    height: 20%;
    list-style-type: none;
    margin-left: 35%;
    padding: 5px;
    overflow: hidden;
    font-family: 'Fondamento';
    /*background-color: #333;*/
}

.blog {
  float: center;
  margin-top: 5%;
  font-size: 65px;
  text-align:center;
  color: blue;
  font-weight: bolder;

}

.blog a {
    display: block;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 14px 16px;
    text-decoration: none;
    /*background-color: #333;*/
    background-color: #00BFFF;
    margin-left: 15px;
    border-radius: 12px;
    border: 2px #FFFFFF solid;

}

/******* Mudando a cor do link para   #0000FF (blue) no hover ***********/

.blog a:hover {
    background-color: #0000FF;
    /*background-color: #111;*/
}
